* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}
body {
    min-height: 100vh !important;
}
a {
    text-decoration: none !important;
}
li {
    list-style: none !important;
}
h1,
h2 {
    text-align: center !important ;
    color: #444 !important;
}
h3 {
    color: #999 !important;
}
.my-btn {
    background: #f05462 !important;
    color: white !important;
    padding: 5px 10px !important;
    text-align: center !important;
}
.my-btn:hover {
    color: #f05462 !important;
    background: white !important;
    padding: 3px 8px !important;
    border: 2px solid #f05462 !important;
}
.my-list-title {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 10px;
    border-bottom: 2px solid #999;
}
table {
    padding: 10px !important;
}
th,
td {
    text-align: center !important;
    padding: 8px !important;
}
.side-container{
    padding: 0 !important;
}
.side-menu {
    position: fixed;
    background: #f05462;
    width: 20vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin-top: 76px;
    
}
.side-menu .brand-name {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.side-menu li {
    font-size: 19px !important;
    padding: 10px 40px;
    color: white !important;
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-right: 11px;
}
.side-menu li:hover {
    background: white;
    color: #f05462;
}
.side-menu li span a:hover {
    background: white;
    color: #f05462;
}
#my-container {
    position: absolute;
    right: 0;
    width: 80vw;
    height: 100vh;
    background: #f1f1f1;
}

/* ----------------------------------------------- */
    /*header*/
/* ----------------------------------------------- */

#my-container .content {
    position: relative;
    margin-top: 10vh;
    min-height: 90vh;
    background: #f1f1f1;
}
#my-container .content .my-cards {
    padding: 20px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#my-container .content .my-cards .my-card {
    width: 250px;
    height: 150px;
    background: white;
    margin: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#my-container .content .content-2 {
    min-height: 60vh ;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}
#my-container .content .content-2 .my-list1 {
    min-height: 50vh;
    flex: 5;
    background: white;
    margin: 0 25px 25px 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
}
#my-container .content .content-2 .new-students {
    flex: 2;
    background: white;
    min-height: 50vh;
    margin: 0 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
}
#my-container .content .content-2 .new-students table td:nth-child(1) img {
    height: 40px;
    width: 40px;
}
@media screen and (max-width: 1050px) {
    .side-menu li {
        font-size: 18px;
    }
}
@media screen and (max-width: 940px) {
    .side-menu li span {
        display: none;
    }
    .side-menu {
        align-items: center;
    }
    .side-menu li img {
        width: 40px;
        height: 40px;
    }
    .side-menu li:hover {
        background: #f05462;
        padding: 8px 38px;
        border: 2px solid white;
    }
}
@media screen and (max-width:536px) {
    .brand-name h1 {
        font-size: 16px;
    }
    #my-container .content .my-cards {
        justify-content: center;
    }
    .side-menu li img {
        width: 30px;
        height: 30px;
    }
    #my-container .content .content-2 .my-list1 table th:nth-child(2),
    #my-container .content .content-2 .my-list1 table td:nth-child(2) {
        display: none;
    }
}
