<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!--    <filter>
        <filter-name>HomeFilter</filter-name>
        <filter-class>filter.HomeFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>HomeFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>-->
    <servlet>
        <servlet-name>blog_add</servlet-name>
        <servlet-class>controller.blog.Blog_add</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin_dashboard</servlet-name>
        <servlet-class>controller.admin.Admin_dashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin_IP_detail</servlet-name>
        <servlet-class>controller.admin.Admin_IP_detail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin_IP_list</servlet-name>
        <servlet-class>controller.admin.Admin_IP_list</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin_Users_list</servlet-name>
        <servlet-class>controller.admin.Admin_Users_list</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin_Users_detail</servlet-name>
        <servlet-class>controller.admin.Admin_Users_detail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>home_show</servlet-name>
        <servlet-class>controller.home.Home_show</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reset_pass</servlet-name>
        <servlet-class>controller.home.Reset_pass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>blog_list</servlet-name>
        <servlet-class>controller.blog.Blog_list</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>change_forgetpass</servlet-name>
        <servlet-class>controller.home.Change_forgetpass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin_Staff_list</servlet-name>
        <servlet-class>controller.admin.Admin_Staff_list</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>blog_home_show</servlet-name>
        <servlet-class>controller.blog.Blog_home_show</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>blog_edit</servlet-name>
        <servlet-class>controller.blog.Blog_edit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>register</servlet-name>
        <servlet-class>controller.home.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin_Staff_detail</servlet-name>
        <servlet-class>controller.admin.Admin_Staff_detail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin_Staff_add</servlet-name>
        <servlet-class>controller.admin.Admin_Staff_add</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin_Users_search</servlet-name>
        <servlet-class>controller.admin.Admin_Users_search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Blog_detail</servlet-name>
        <servlet-class>controller.blog.Blog_detail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listInsuranceProduct</servlet-name>
        <servlet-class>controller.insuranceProduct.listInsuranceProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_Staff_delete</servlet-name>
        <servlet-class>controller.admin.Admin_Staff_delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleFormVatChat</servlet-name>
        <servlet-class>controller.formTNDS.HandleFormVatChat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveInfoVatChat</servlet-name>
        <servlet-class>controller.formTNDS.SaveInfoVatChat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_Users_verify</servlet-name>
        <servlet-class>controller.admin.Admin_Users_verify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_Staff_search</servlet-name>
        <servlet-class>controller.admin.Admin_Staff_search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_Contract_list</servlet-name>
        <servlet-class>controller.admin.Admin_Contract_list</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_Staff_load</servlet-name>
        <servlet-class>controller.admin.Admin_Staff_load</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_Staff_update</servlet-name>
        <servlet-class>controller.admin.Admin_Staff_update</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Staff_ContractRequest_list</servlet-name>
        <servlet-class>controller.staff.Staff_ContractRequest_list</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_Contract_detail</servlet-name>
        <servlet-class>controller.admin.Admin_Contract_detail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserInsuranceList</servlet-name>
        <servlet-class>controller.user.UserInsuranceList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserContractDetail</servlet-name>
        <servlet-class>controller.user.UserContractDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserVerify</servlet-name>
        <servlet-class>controller.user.UserVerify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Staf_verifyUser</servlet-name>
        <servlet-class>controller.staff.Staf_verifyUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Staff_verifyUser_done</servlet-name>
        <servlet-class>controller.staff.Staff_verifyUser_done</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Staff_ContractRequest_detail</servlet-name>
        <servlet-class>controller.staff.Staff_ContractRequest_detail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserClaimListSV</servlet-name>
        <servlet-class>controller.user.UserClaimListSV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserClaimListShow</servlet-name>
        <servlet-class>controller.user.UserClaimListShow</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffContractRequestCheck</servlet-name>
        <servlet-class>controller.staff.StaffContractRequestCheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_Contract_search</servlet-name>
        <servlet-class>controller.admin.Admin_Contract_search</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>blog_add</servlet-name>
        <url-pattern>/blog_add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin_dashboard</servlet-name>
        <url-pattern>/admin_dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin_IP_detail</servlet-name>
        <url-pattern>/admin_IP_detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin_IP_list</servlet-name>
        <url-pattern>/admin_IP_list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin_Users_list</servlet-name>
        <url-pattern>/admin_Users_list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin_Users_detail</servlet-name>
        <url-pattern>/admin_Users_detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>home_show</servlet-name>
        <url-pattern>/home_show</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reset_pass</servlet-name>
        <url-pattern>/reset_pass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>blog_list</servlet-name>
        <url-pattern>/blog_list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>change_forgetpass</servlet-name>
        <url-pattern>/change_forgetpass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin_Staff_list</servlet-name>
        <url-pattern>/admin_Staff_list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>blog_home_show</servlet-name>
        <url-pattern>/blog_home_show</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>blog_edit</servlet-name>
        <url-pattern>/blog_edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin_Staff_detail</servlet-name>
        <url-pattern>/admin_Staff_detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin_Staff_add</servlet-name>
        <url-pattern>/admin_Staff_add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin_Users_search</servlet-name>
        <url-pattern>/admin_Users_search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Blog_detail</servlet-name>
        <url-pattern>/Blog_detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listInsuranceProduct</servlet-name>
        <url-pattern>/listInsuranceProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_Staff_delete</servlet-name>
        <url-pattern>/Admin_Staff_delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleFormVatChat</servlet-name>
        <url-pattern>/HandleFormVatChat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveInfoVatChat</servlet-name>
        <url-pattern>/SaveInfoVatChat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_Users_verify</servlet-name>
        <url-pattern>/Admin_Users_verify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_Staff_search</servlet-name>
        <url-pattern>/Admin_Staff_search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_Contract_list</servlet-name>
        <url-pattern>/Admin_Contract_list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_Staff_load</servlet-name>
        <url-pattern>/Admin_Staff_load</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_Staff_update</servlet-name>
        <url-pattern>/Admin_Staff_update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Staff_ContractRequest_list</servlet-name>
        <url-pattern>/contract_request_list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_Contract_detail</servlet-name>
        <url-pattern>/Admin_Contract_detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserInsuranceList</servlet-name>
        <url-pattern>/UserInsuranceList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserContractDetail</servlet-name>
        <url-pattern>/UserContractDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserVerify</servlet-name>
        <url-pattern>/UserVerify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Staf_verifyUser</servlet-name>
        <url-pattern>/Staf_verifyUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Staff_verifyUser_done</servlet-name>
        <url-pattern>/Staff_verifyUser_done</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Staff_ContractRequest_detail</servlet-name>
        <url-pattern>/contract_request_detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserClaimListSV</servlet-name>
        <url-pattern>/UserClaimListSV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserClaimListShow</servlet-name>
        <url-pattern>/UserClaimListShow</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffContractRequestCheck</servlet-name>
        <url-pattern>/StaffContractRequestCheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_Contract_search</servlet-name>
        <url-pattern>/Admin_Contract_search</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            999
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>
            home_show
        </welcome-file>
    </welcome-file-list>
    <context-param>
        <param-name>json-simple</param-name>
        <param-value>D:\lib\json-simple-1.1.1</param-value>
    </context-param>
</web-app>
